body{
	color: black;
	font-weight: lighter;
	/*background-image: url('http://3.bp.blogspot.com/-8-DO6zppqW8/Tv9dMmUQBsI/AAAAAAAABkY/KE2Hws1NVqM/s1600/600px-Seed-of-Life.svg.png');*/
	background-repeat: no-repeat;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
	flex: 1 0 auto;	
}
div.quote{
	display: none;
	font-weight: lighter;
}
div.begin{
	display: none;
	font-weight: lighter;
}
